* {
	margin: 0px;
	padding: 0px;
}

html, body {
	background: #f6f5fa;
	height: 100%;
}

.display-table {
	display: table;
    padding: 0;
    height: 100%;
    width: 100%;
}

.display-table-row {
    display: table-row;
    height: 100%;
}

.display-table-cell {
	display: table-cell;
    float: none;
    height: 100%;
} 

.v-align {
	vertical-align: top;
}

@font-face {
	font-family: 'Maxwell-Regular';
	src:url('../fonts/MAXWELL-REGULAR.ttf');
}

.logo-text {
	font-family: 'Maxwell-Regular';
	color: #ff7932;
	font-size: 36px;
}